---

const response = await fetch("https://accounts.spotify.com/api/token", {
  method: "POST",
  headers: {
    "Content-Type": "application/x-www-form-urlencoded"
  },
  body: new URLSearchParams({
    grant_type: "client_credentials",
    client_id: import.meta.env.SPOTIFY_CLIENT_ID,
    client_secret: import.meta.env.SPOTIFY_CLIENT_SECRET,
  })
})

const data = await response.json()
const token = data.access_token 

const res = await fetch("https://api.spotify.com/v1/search?q=mf+doom&type=track&limit=5", {
  headers: {
    Authorization: `Bearer ${token}`
  }
})
const songdata = await res.json()
const songs = songdata.tracks.items
songs.forEach(song => {
  // console.log(song.name)
});


const searchResponse = await fetch("https://api.spotify.com/v1/search?q=mfdoom&type=artist&limit=5", {
  headers: {
    Authorization: `Bearer ${token}`
  }
})

const searchData = await searchResponse.json()
const artists = searchData.artists.items
artists.forEach(artist => {
  console.log(artist.name)
});


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

<form action="submit">
<textarea name="prompt" id="userPrompt"></textarea>
<button type="submit">Verstuur</button>
</form>
<p>
  
</p>
	</body>
</html>

<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
  }

  textarea {
    width: 50%;
    height: 30vh;
    resize: none;
    font-size: 2rem;
  }
  button {
    padding: 1.3em;
    font-size: 1rem;
    background-color: green;
    color: white;
    font-family: monospace;
  }
  p {
    font-size: 1.2rem;
  }
</style>

<!-- Hulp van Jad -->
<script>
    // @ts-nocheck
  const form = document.querySelector("form");
  const textarea = document.querySelector("textarea");
  const aiAnswer = document.querySelector("p")

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const userInput = textarea.value;


    if ('LanguageModel' in self) {
      const session = await LanguageModel.create({
  initialPrompts: [
    {
      role: "system",
      content: "Je geeft drie muziek artiesten terug gebaseerd op wat de gebruiker als input geeft, alleen de artiesten namen en niks anders. Als de gebruiker een muziekartiest op geeft geef dan drie artiesten die vergelijkbare muziek hebben. Gebruik geen markdown of andere opmaak in je berichten. Als je niks uit de user input kan halen en/of de opgegeven input is een naam maar geen spotify artiest zeg dan aan: Sorry hier kan ik geen artiesten uit halen, probeer wat anders!"
    },
  ]
});
      
console.log(session)
      const result = await session.prompt(userInput);
      aiAnswer.innerHTML = result
      session.destroy();
    } else {
  const response = await fetch(`/api?artist=${userInput}`);
  const data = await response.json();
  aiAnswer.innerHTML = data.answer;
}
    });

  // @ts-nocheck

    
     
   
</script>





